@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


<div class="container">
    <h1 class="text-center">Comic Books Detail Page</h1>
    <hr/>
    <h3> @ViewBag.SeriesTitle </h3>
    <h3> Issue #@ViewBag.IssueNumber </h3>
    <h3>Description:</h3>
    <div>@Html.Raw(@ViewBag.Description)</div>
    
    @if(@ViewBag.Artists.Length > 0)
        {
            <h3>Artists:</h3>
            <div>
                <ul>
                     @foreach(var artist in ViewBag.Artists)
                    {
                        <li>@artist</li>
                    }

                </ul>
       
            </div>
        }
    
    

 </div>
