@{
    ViewData["Title"] = "Comic Book Gallery";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Comic Book Gallery</h1>
    <p>Only the best Comic Books listed here!</p>
    
</div>
